        .main{
            padding-left: 300px;
        }
        
        .card-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
        }
        .card {
            display: flex;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 50%;
        }
        .card-image {
            max-width: 100px;
            max-height: 100px;
            background-color: #ddd;
            border-radius: 8px;
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
            float: left;
            filter: brightness(50%);
            z-index: 1;
        }
        .card-content {
            flex: 1;
            z-index: 99;
        }

        .card-content a{
            text-decoration: none;
        }
        .card h3 {
            margin-top: 0;
        }
        .card p {
            margin: 10px 0;
        }